/*********** Application Colors ************/
//Grays
$lightGray = #665B5C
$gray = #473F40
$darkGray = #231F20

//Reds
$lightRed = #EE513C
$red = #E04530
$darkRed = #CE3825

//Yellows
$lightYellow = #EAD65E
$yellow = #E0CD55
$darkYellow = #D2BE46

//Greens
$lightGreen = #76CB82
$green = #6BC174
$darkGreen = #59B162

//Blues
$lightBlue = #63A7D6
$blue = #53A2CC
$darkBlue = #4F93BF

/*********** Standard Colors ************/
$white = #FFFFFF
$black = #000000
$veryLightGray = #EFEFEF
$headerWhite = #F5F5F5
$inactiveLightGray = #EEEEEE
$inactiveGray = #DDDDDD
$placeholderGray = #CCCCCC
$activeLightGray = #666666
$activeGray = #444444
